@import '/src/assets/scss/variables.scss';

:host {
  aside {
    // @for handling all height and border for aside when over scrolled
    height: 100%;
    width: 290px;
    background: map-get($colors, darkPurple);
    border-right: 2px solid map-get($colors, white);

    .aside__list {
      overflow: auto;

      // @for handling aside without header pxs when have no content full or scroll on outlet
      height: calc(100vh - 85px);

      &--anchor {
        text-decoration: none;
      }

      &__item {
        color: map-get($colors, white);
        padding: 18px;
        padding-left: 24px;
        display: flex;
        align-items: center;

        &--title {
          margin-left: 18px;
        }

        &:hover {
          cursor: pointer;
          border-left: 6px solid map-get($colors, pink);
          padding-left: 18px;
        }
      }
    }
  }
}

.is-active {
  font-weight: 600;
}
