$colors: (
  white: #fff,
  snow: #f0f0f0,
  black: #000,
  pink: #fd749b,
  darkPurple: #1e0338,
  gradient: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%),
  gray: #9f9f9f,
  tomato: #ff4949,
  lightGreen: #5df888,
  ciano: #1cd1a1,
);
