$colors: (
  white: #f7f7f7,
  snow: #f0f0f0,
  black: #000,
  pink: #fd749b,
  darkPurple: #1e0338,
  gradient: linear-gradient(to bottom, #fd749b, #281ac8),
  gray: #9f9f9f,
  tomato: #ff4949,
  lightGreen: #5df888,
);
