<header>
  <div class="header__content">
    <img src="../../../../../assets/imgs/coin-base-logo.svg" alt="Coinbase Logo" />
    <section class="header__content__search">
      <img src="../../../../../assets/imgs/search-icon.svg" class="header__content__search--icon" alt="Seach Icon" />

      <input type="text" class="header__content__search--input" placeholder="Search e.g card" />
    </section>

    <section class="header__content__profile">
      <img src="../../../../../assets/imgs/avatar-profile.svg" alt="Avatar" />

      <span class="header__content__profile--title">Ramon Ridwan</span>
    </section>

    <img src="../../../../../assets/imgs/alert-icon.svg" alt="Alert Icon" />
  </div>
</header>
