@import './assets/scss/reset.scss';
@import './assets/scss/variables.scss';
@import './assets/scss/font.scss';

html,
body {
  display: flex;
  flex-direction: column;

  font-family: 'Poppins', sans-serif;
  background-color: map-get($colors, darkPurple);
}
