@use './assets/scss/variables';
@use './assets/scss/font';
@use 'sass:map';

html,
body {
  display: flex;
  flex-direction: column;
  color: map.get(variables.$colors, white);
  font-family: 'Poppins', sans-serif;
  background-color: map.get(variables.$colors, darkPurple);
}
