@import './assets/scss/reset.scss';
@import './assets/scss/variables.scss';
@import './assets/scss/font.scss';

html,
body {
  width: 100%;
  height: 100%;

  font-family: 'Poppins', sans-serif;

  // DEV PURPOSE
  background-color: #c9cbcf;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
