<section class="users__wrapper">
  <header class="header">
    <div class="header__access">
      <p class="header__access__title">Admin Management Users</p>
      <span class="header__access__account">Accounts{{ ' ' }}|{{ ' ' }} COINBASE</span>
    </div>
    <p class="header__title">Users</p>
  </header>
  <!-- @TODO - Extract to a component -->
  <div class="list-wrapper">
    <table class="table">
      <thead class="table__header">
        <tr>
          <th class="table__header__item">Account Status</th>
          <th class="table__header__item">User Name</th>
          <th class="table__header__item">Email</th>
          <th class="table__header__item">Action</th>
        </tr>
      </thead>

      <tbody class="table__body">
        <tr class="table__body__row" *ngFor="let user of mockArr">
          <td class="table__body__cell">
            <div class="table__body__cell__account-status" [ngClass]="getAccountStatusClass(user.status)">
              {{ user.status }}
            </div>
          </td>
          <td class="table__body__cell">{{ user.name }}</td>
          <td class="table__body__cell">{{ user.email }}</td>
          <td class="table__body__cell">
            <div class="table__body__cell--img">
              <img src="assets/imgs/actions-icon.svg" alt="User Actions" />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
