@import '/src/assets/scss/variables.scss';

.users__wrapper {
  color: map-get($colors, white);

  .header {
    display: flex;
    flex-direction: column;

    &__access {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      font-size: 12px;

      &__account {
        margin-right: 15px;
        &::before {
          content: '▴';
          position: absolute;
          margin-left: 135px;
        }
      }
    }

    &__title {
      font-size: 14px;
      font-weight: bold;
      margin-top: 30px;
    }
  }

  .list-wrapper {
    border: 1px solid map-get($colors, white);
    border-radius: 5px;
    margin-top: 20px;

    padding: 30px 90px;

    .table {
      width: 100%;

      &__header {
        &__item {
          padding: 14px;
          text-align: left;
          text-transform: uppercase;

          &:last-child {
            text-align: right;
          }
        }
      }

      &__body {
        &__row {
          border-bottom: 1px solid map-get($colors, white);
        }

        &__cell {
          padding: 16px 14px;

          // div to handle dropdown area inside td
          & > div {
            display: inline-block;
          }

          &:last-child {
            text-align: right;
          }

          &--img {
            display: inline-block;
            cursor: pointer;
          }

          &__account-status {
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            color: map-get($colors, white);
            background: map-get($colors, gradient);
            border-radius: 15px;
            padding: 8px 20px;

            &--active {
              background: map-get($colors, lightGreen);
            }

            &--down {
              background: map-get($colors, tomato);
            }

            &--pending {
              background: map-get($colors, gradient);
            }
          }
        }
      }
    }
  }
}

// TODO: adjust styles and maybe html
.dropdown {
  position: absolute;
  display: none;
  z-index: 10;
  margin: 10px 0px 0px -20px;
  padding: 10px 0px;

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid map-get($colors, white);
    color: map-get($colors, gray);
    background: map-get($colors, white);
    border-radius: 5px;

    &__item {
      padding: 10px;

      &:first-child {
        border-bottom: 1px solid map-get($colors, gray);
      }

      &:last-child {
        padding: 10px 17px;
      }

      &:hover {
        &:last-child {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
        }

        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: map-get($colors, gradient);
        color: map-get($colors, white);
        cursor: pointer;
      }
    }
  }
}

.open {
  & > .dropdown {
    display: inline;
  }
}
