<section class="users__wrapper">
  <header class="header">
    <div class="header__access">
      <p class="header__access__title">Admin Management Users</p>
      <span class="header__access__account">Accounts{{ ' ' }}|{{ ' ' }} COINBASE</span>
    </div>
    <p class="header__title">Users</p>
  </header>
  <!-- @TODO - Extract to a component -->
  <div class="list-wrapper">
    <table class="table">
      <thead class="table__header">
        <tr>
          <th class="table__header__item">Account Status</th>
          <th class="table__header__item">User Name</th>
          <th class="table__header__item">Email</th>
          <th class="table__header__item">Action</th>
        </tr>
      </thead>

      <tbody class="table__body">
        <tr class="table__body__row">
          <td class="table__body__item">PENDING</td>
          <td class="table__body__item">John Doe</td>
          <td class="table__body__item">johndoe@ghost.com</td>
          <td class="table__body__item">
            <div class="table__body__item--img">
              <img src="assets/imgs/actions-icon.svg" alt="User Actions" />
            </div>
          </td>
        </tr>
        <tr class="table__body__row">
          <td class="table__body__item">PENDING</td>
          <td class="table__body__item">John Doe</td>
          <td class="table__body__item">johndoe@ghost.com</td>
          <td class="table__body__item">
            <div class="table__body__item--img">
              <img src="assets/imgs/actions-icon.svg" alt="User Actions" />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
