@import '/src/assets/scss/variables.scss';

.users__wrapper {
  color: map-get($colors, white);

  .header {
    display: flex;
    flex-direction: column;

    &__access {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      font-size: 12px;

      &__account {
        margin-right: 15px;
        &::before {
          content: '▴';
          position: absolute;
          margin-left: 135px;
        }
      }
    }

    &__title {
      font-size: 14px;
      font-weight: bold;
      margin-top: 30px;
    }
  }

  .list-wrapper {
    border: 1px solid map-get($colors, white);
    border-radius: 5px;
    margin-top: 20px;

    // @TODO - Check this padding
    padding: 30px;

    .table {
      width: 100%;

      &__header {
        &__item {
          padding: 14px;
          text-align: left;
          text-transform: uppercase;

          &:last-child {
            text-align: right;
          }
        }
      }

      &__body {
        &__row {
          border-bottom: 1px solid map-get($colors, white);
        }

        &__cell {
          padding: 16px 14px;

          &:last-child {
            text-align: right;
          }

          &--img {
            display: inline-block;
            cursor: pointer;
          }

          &__account-status {
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            color: map-get($colors, white);
            background: map-get($colors, gradient);
            border-radius: 15px;
            padding: 8px 20px;

            &--active {
              background: map-get($colors, lightGreen);
            }

            &--down {
              background: map-get($colors, tomato);
            }

            &--pending {
              background: map-get($colors, gradient);
            }
          }
        }
      }
    }
  }
}
